@model IEnumerable<DeporteGest.Models.Inscripcione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participante.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InscripcionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InscripcionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InscripcionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
